{% load static %}

<div class="modal fade" id="modalEscola{{simulado.id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-title" id="modalCenterTitle">Selecione a escola para ver o relatório:</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            {% for escola in escolas %}
                <a href="{% url 'visualizar_relatorio' simulado.id %}?filtro=escola&valor={{escola.id}}" class="btn btn-outline-primary turma-btn mb-3" >{{escola.nome}}</a>
            {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
            Cancelar
          </button>
          
        </div>
      </div>
    </div>
  </div>