{% extends 'new_base.html' %}
{% load static %}
{% block title %}Gemini - Histórico do Aluno {% endblock %}
{% block content %}
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Histórico /</span> {{aluno.nome}}</h4>

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <h5 class="card-header">Detalhes do Aluno na Matriz Referencial: </h5>
          <!-- Account -->
          <hr class="my-0" />
          <div class="card-body">
            <form id="formAccountSettings" onsubmit="return false">
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label for="firstName" class="form-label">Nome Completo</label>
                  <input
                    class="form-control"
                    type="text"
                    id="firstName"
                    value="{{aluno.nome}}"
                    readonly
                  />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="lastName" class="form-label">Turma</label>
                  <input class="form-control" type="text" id="lastName" value="{{aluno.turma.nome}}" readonly/>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="lastName" class="form-label">Escola</label>
                  <input class="form-control" type="text" id="lastName" value="{{aluno.turma.escola.nome}}" readonly/>
                </div>
            </form>
          </div>
          <!-- /Account -->
        </div>
        <div class="card .card-70">
          <h5 class="card-header">Percentual de acerto por Ano e Componente Currícular</h5>
          <div class="card-body">
            <div class="mb-3 col-12 mb-0">
              

              <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Componente Curricular</th>
                      <th>1º Ano</th>
                      <th>2º Ano</th>
                      <th>3º Ano</th>
                      <th>4º Ano</th>
                      <th>5º Ano</th>
                      <th>6º Ano</th>
                      <th>7º Ano</th>
                      <th>8º Ano</th>
                      <th>9º Ano</th>
                      <th>1º EM</th>
                      <th>2º EM</th>
                      <th>3º EM</th>
                    </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                    {% for unidade in unidades_tematicas %}
                      
                      <tr>
                        {% for row in unidade.lista %}
                          <td><a href="{% url 'geral_visualizar_historico_aluno_unidade_tematica' %}?unidade_tematica={{unidade.nome}}"><strong>{{row}}</strong></a></td>
                        {% endfor %}
                      </tr>
                    {% endfor %}
                    <script>
    
                    </script>
                  </tbody>
                </table>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->

{% endblock %}