{% extends 'new_base.html' %}
{% load static %}
{% block title %}Lista de Professores{% endblock %}

{% block content %} 

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-lg-12 mb-4 order-0">
      <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="card-title text-primary">Lista de Avaliações </h5>
        </div>
        <div class="card-body">
          {% include 'parcials/_messages.html' %}
      <div class="table-responsive text-nowrap">
        <a href="{% url 'coordenador_cadastro_avaliacao' %}" class="btn btn-outline-primary mx-3 my-4">Cadastrar Avaliação</a>
      </div>
      <div class="container-fluid">
         
        <div class="table-responsive text-nowrap pb-5 font-weight-bold">
          <table class="table table-hover text-center">
            <thead>
              <tr >
                <th class="font-weight-bold">Nome da Avaliação</th>
                <th class="font-weight-bold">Nível da Avaliação</th>
                <th class="font-weight-bold">Data de Criação</th>
                <th class="font-weight-bold">Ações</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {% for avaliacao in avaliacoes %}
                  <tr>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{avaliacao.nome}}</strong></td>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{avaliacao.get_grau_ensino_display}}</strong></td>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{avaliacao.criacao|date:"d/m/Y"}}</strong></td>
                    <td>
                        <a class="white-hover" target="_blank" href="{% url 'coordenador_visualizar_avaliacao' avaliacao.id %}"
                        title="Visualizar Avaliação"
                        ><i class="bx bx-show"></i></a>
                        <a class="white-hover"  href="{% url 'coordenador_geral_visualizar_resultados_avaliacao' avaliacao.id %}"
                        title="Visualizar Resultados"
                        ><i class="bx bx-bar-chart-alt-2 mx-1"></i></a>
                        
                        <a class="white-hover text-danger" href=""
                        title="Deletar Avaliação"
                        data-bs-toggle="modal"
                        data-bs-target="#modalCenter"
                        onclick="mudaID('{{avaliacao.id}}', '{{avaliacao.nome}}')"><i class="bx bx-trash mx-1"></i></a
                        >

                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
          
  
        </div>

      </div>

      {% include 'parcials/_pagination.html' %}

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="modalCenterTitle">Modal title</h5>
      </div>
      <div class="modal-body">
        <h6>Deletar a avaliação fará com que todos os dados relacionados a ela sejam perdidos.</h6>
        <h6>Deseja continuar a exclusão?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <form action="" method="POST">
          {% csrf_token %}
          <input type="hidden" name="id" id="idExcluir" value="">
          <button type="submit" class="btn btn-danger">Deletar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
function mudaID(id, nome){
  document.getElementById("modalCenterTitle").innerHTML = "Deseja excluir a avaliação - " + nome + " - ?";
  document.getElementById("idExcluir").value = id;
}
</script>
{% endblock %}
    

    