.border-bottom-primary{
    border-bottom: 2px solid #696cff!important;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.text-label{
    font-size: 14px!important;
    font-weight: bold!important;
    color: #696cff!important;
}
.bloco-title{
    font-size: 24px!important;
    font-weight: 500;
}
.bloco{
    border-bottom: #696cff solid 2px;
    
}