{% extends 'new_base.html' %}
{% load static %}
{% block title %}Gemini - Resultados Avaliação {% endblock %}
{% block content %}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-lg-8 mb-4 order-0">
        <div class="card">
          <div class="d-flex align-items-end row">
            <div class="col-sm-7">
              <div class="card-body">
                <h5 class="card-title text-primary">Resultado da avaliação <b>{{simulado.nome}}</b></h5>
                <p class="mb-4">
                  Essa avaliação teve um total de acerto de <span class="fw-bold">{{percentual_acertos}}%</span> considerando os resultados de todas as questões.
                </p>

              </div>
            </div>
            <div class="col-sm-5 text-center text-sm-left">
              <div class="card-body pb-0 px-0 px-md-4">
                <img
                  src="{% static 'assets/img/illustrations/man-with-laptop-light.png' %}"
                  height="140"
                  alt="View Badge User"
                  data-app-dark-img="illustrations/man-with-laptop-dark.png"
                  data-app-light-img="illustrations/man-with-laptop-light.png"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 order-1">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                  <div class="avatar flex-shrink-0">
                    <img
                      src="{% static 'assets/img/icons/unicons/chart-success.png' %}"
                      alt="chart success"
                      class="rounded"
                    />
                  </div>
                </div>
                <span class="fw-semibold d-block mb-1">Total acertos</span>
                <h3 class="card-title mb-2">{{total_acertos}}</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                  <div class="avatar flex-shrink-0">
                    <img
                      src="{% static 'assets/img/icons/unicons/chart-success.png' %}"
                      alt="chart success"
                      class="rounded"
                    />
                  </div>
                </div>
                <span class="fw-semibold d-block mb-1">Respostas</span>
                <h3 class="card-title mb-2">{{total_respostas}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      {% for questao in lista_questoes %}
      <!-- Order Statistics -->
        <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
          <div class="card h-100">
            <div class="card-header d-flex align-items-center justify-content-between pb-0">
              <div class="card-title mb-0">
                <h5 class="m-0 me-2">Questão {{questao.numero}}. Resposta Correta - {{questao.resposta_correta}}</h5>
                <small class="text-muted">{{questao.quantidade_respostas}} Respostas Totais</small>
              </div>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex flex-column align-items-center gap-1">
                  <h2 class="mb-2">{{questao.quantidade_respostas_corretas}}</h2>
                  <span>Acertos Totais</span>
                </div>
                <div id="orderStatisticsChart{{questao.numero}}" class="questaoGraph"
                data-numero="{{questao.numero}}"
                data-quantidade_respostas_corretas="{{questao.quantidade_respostas_corretas}}"
                data-resposta_correta="{{questao.resposta_correta}}"
                {% for chave,valor in questao.questoes_por_opcao.items %}
                  data-{{chave}}="{{valor}}"
                {% endfor %}
                ></div>
              </div>
              <ul class="p-0 m-0">
                <li class="d-flex mb-4 pb-1">
                  <div class="avatar flex-shrink-0 me-3">
                    <span class="avatar-initial rounded bg-label-primary"><i class='bx bxs-component' ></i></span>
                  </div>
                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                    <div class="me-2">
                      <h6 class="mb-0">Componente Curricular:</h6>
                      <p class="text-primary">{{questao.componente}}</p>
                    </div>
                    <div class="user-progress">
                    </div>
                  </div>
                </li>
                <li class="d-flex mb-4 pb-1">
                  <div class="avatar flex-shrink-0 me-3">
                    <span class="avatar-initial rounded bg-label-success"><i class='bx bxl-unity' ></i></span>
                  </div>
                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                    <div class="me-2">
                      <h6 class="mb-0">Unidade Temática:</h6>
                      <p class="text-primary">{{questao.unidade_tematica}}</p>
                    </div>
                    <div class="user-progress">
                    </div>
                  </div>
                </li>
                <li class="d-flex mb-4 pb-1">
                  <div class="avatar flex-shrink-0 me-3">
                    <span class="avatar-initial rounded bg-label-info"><i class='bx bxs-comment-detail' ></i></span>
                  </div>
                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                    <div class="me-2">
                      <h6 class="mb-0">Descritor:</h6>
                      <p class="text-primary">{{questao.descritor}}</p>
                    </div>
                    <div class="user-progress">
                    </div>
                  </div>
                </li>
                <li class="d-flex">
                  <div class="avatar flex-shrink-0 me-3">
                    <span class="avatar-initial rounded bg-label-secondary"><i class='bx bx-shape-square'></i></span>
                  </div>
                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                    <div class="me-2">
                      <h6 class="mb-0">Habilidades BNCC:</h6>
                      <p class="text-primary ">{{questao.habilidades_abncc}}</p>
                    </div>
                    <div class="user-progress">
                    </div>
                  </div>
                </li>
              </ul>
              
            </div>
          </div>
        </div>
        <!--/ Order Statistics -->
      {% endfor %}

    </div>

    <div class="row">
      <div class="col-md-6">
        <!-- Striped Rows -->
        <div class="card card-70">
          <h5 class="card-header">Resultados Por Escola</h5>
          <div class="table-responsive text-nowrap">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Escola</th>
                  <th>Percentual de Acerto</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                {% for escola in escolas %}
                <tr>
                  <td><strong>{{escola.nome}}</strong></td>
                  <td>
                    <div class="progress" >
                      <div
                        class="progress-bar progress-bar-striped"
                        role="progressbar"
                        id="progress_bar_{{escola.id}}"
                        aria-valuenow="{{escola.percentual_acertos}}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >{{escola.percentual_acertos}}%</div>
                      <script>

                        var progress_bar = document.getElementById("progress_bar_{{escola.id}}");
                        var percentual_acertos = '{{escola.percentual_acertos}}';
                        percentual_acertos = parseFloat(percentual_acertos);
                        if (percentual_acertos < 50) {
                          progress_bar.classList.add("bg-danger");
                        } else if (percentual_acertos < 70) {
                          progress_bar.classList.add("bg-warning");
                        } else {
                          progress_bar.classList.add("bg-success");
                        }
                        progress_bar.style.width = percentual_acertos + "%";
                      </script>
                    </div>
                  </td>
                  <td>
                    <a class="white-hover" target="_blank" href="{% url 'geral_visualizar_resultados_avaliacao' escola.id %}"
                    title="Ver Resultado da Escola"
                    ><i class="bx bx-show"></i></a>

                  </td>
                </tr>
                {% endfor %}
                <script>

                </script>
              </tbody>
            </table>
          </div>
        </div>
        <!--/ Striped Rows -->
      </div>


      <div class="col-md-6">
        <!-- Striped Rows -->
        <div class="card card-70">
          <h5 class="card-header">Resultados Por Aluno</h5>
          <div class="table-responsive text-nowrap">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Aluno</th>
                  <th>Percentual de Acerto</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                {% for aluno in alunos %}
                <tr>
                  <td><strong>{{aluno.nome}}</strong></td>
                  <td>
                    <div class="progress" >
                      <div
                        class="progress-bar progress-bar-striped"
                        role="progressbar"
                        id="progress_bar_aluno_{{aluno.id}}"
                        aria-valuenow="{{aluno.percentual_acertos}}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >{{aluno.percentual_acertos}}%</div>
                      <script>

                        var progress_bar = document.getElementById("progress_bar_aluno_{{aluno.id}}");
                        var percentual_acertos = '{{aluno.percentual_acertos}}';
                        percentual_acertos = parseFloat(percentual_acertos);
                        if (percentual_acertos < 50) {
                          progress_bar.classList.add("bg-danger");
                        } else if (percentual_acertos < 70) {
                          progress_bar.classList.add("bg-warning");
                        } else {
                          progress_bar.classList.add("bg-success");
                        }
                        progress_bar.style.width = percentual_acertos + "%";
                      </script>
                    </div>
                  </td>
                  <td>
                    <a class="white-hover" target="_blank" href="{% url 'geral_visualizar_historico_aluno' aluno.id  %}"
                    title="Visualizar Histórico do Aluno"
                    ><i class="bx bx-show"></i></a>

                  </td>
                </tr>
                {% endfor %}
                <script>

                </script>
              </tbody>
            </table>
          </div>
        </div>
        <!--/ Striped Rows -->
      </div>


      <div class="col-md-12 pt-4">
        <!-- Striped Rows -->
        <div class="card card-70">
          <h5 class="card-header">Resultados Por Turma</h5>
          <div class="table-responsive text-nowrap">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Turma</th>
                  <th>Escola</th>
                  <th>Percentual Acerto Médio</th>
                  <th>Pontuação Média</th>
                  <th>Situação da Turma</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                {% for turma in turmas %}
                <tr>
                  <td><strong>{{turma.nome}}</strong></td>
                  <td><strong>{{turma.escola}}</strong></td>
                  <td>
                    <div class="progress" >
                      <div
                        class="progress-bar progress-bar-striped"
                        role="progressbar"
                        id="progress_bar_{{turma.id}}"
                        aria-valuenow="{{turma.percentual_acertos}}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >{{turma.percentual_acertos}}%</div>
                      <script>

                        var progress_bar = document.getElementById("progress_bar_{{turma.id}}");
                        var percentual_acertos = '{{turma.percentual_acertos}}';
                        percentual_acertos = parseFloat(percentual_acertos);
                        if (percentual_acertos < 50) {
                          progress_bar.classList.add("bg-danger");
                        } else if (percentual_acertos < 70) {
                          progress_bar.classList.add("bg-warning");
                        } else {
                          progress_bar.classList.add("bg-success");
                        }
                        progress_bar.style.width = percentual_acertos + "%";
                      </script>
                    </div>
                  </td>
                  <td>
                    {{turma.pontuacao_media}}
                  </td>
                  <td>
                    {% if turma.situacao == "Abaixo do Básico" %}
                    <span class="badge bg-danger">
                      {% elif turma.situacao == "Básico" %}
                          <span class="badge bg-warning">
                      {% elif turma.situacao == "Adequado" %}
                          <span class="badge bg-primary">
                      {% elif turma.situacao == "Avançado" %}
                          <span class="badge bg-success">
                      {% endif %}
                      {{turma.situacao}}
                    </span>
                  </td>
                  <td>
                    <a class="white-hover" target="_blank" href="{% url 'geral_visualizar_resultados_avaliacao_turma' turma.id %}"
                    title="Ver Resultado da Escola"
                    ><i class="bx bx-show"></i></a>

                  </td>
                </tr>
                {% endfor %}
                <script>

                </script>
              </tbody>
            </table>
          </div>
        </div>
        <!--/ Striped Rows -->
      </div>

    </div>
    
</div>

{% endblock %}