{% extends 'new_base.html' %}
{% block title %}Cadastro de Professor{% endblock %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-lg-12 mb-4 order-0">
        <div class="card mb-4">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="card-title text-primary">Editar Professor</h5>
          </div>
          <div class="card-body">
            {% include 'parcials/_messages.html' %}
            <form action="" method="POST">
                <div class="row">
    
                    
                {% csrf_token %}
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">Nome Completo</label>
                    <div class="input-group input-group-merge">
                    <span id="basic-icon-default-fullname2" class="input-group-text"
                        ><i class="fa fa-user"></i
                    ></span>
                    <input type="text" placeholder="João Pedro" name="nome" class="form-control" value = "{{professor.nome_completo}}" required/>
                    </div>
                </div>
                <div class="col-md-6 mb-3  " id="cpf-wrap">
                    <label class="form-label" for="basic-icon-default-fullname">CPF (somente números)</label>
                    <div class="input-group input-group-merge ">
                    <span id="basic-icon-default-fullname2" class="input-group-text"
                        ><i class="fa fa-file-text-o"></i
                    ></span>
                    <input type="text" name="cpf" id="cpf-input" placeholder="000.000.000-00"  class="form-control " value="{{professor.cpf}}" required/>
                    </div>
                    <div id="cpf-error"></div>
                </div>
    
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">Telefone</label>
                    <div class="input-group input-group-merge ">
                    <span id="basic-icon-default-fullname2" class="input-group-text"
                        ><i class="fa fa-phone"></i
                    ></span>
                    <input type="text" placeholder="(00) 00000-0000" name="telefone" id="telefone-input"  class="form-control " value="{{professor.telefone}}" required/>
                    </div>
                </div>
    
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">Email</label>
                    <div class="input-group input-group-merge ">
                    <span id="basic-icon-default-fullname2" class="input-group-text"
                        ><i class="fa fa-envelope-square"></i
                    ></span>
                    <input type="email" placeholder="exemplo@hotmail.com" name="email" class="form-control " value="{{professor.email}}" required/>
                    </div>
                </div>
    
    
                <div class="col-md-3 mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">Nome de Usuário</label>
                    <div class="input-group input-group-merge ">
                    <span id="basic-icon-default-fullname2" class="input-group-text"
                        ><i class="fa fa-hand-o-right"></i
                    ></span>
    
                    <input type="text" placeholder="joao_pedro" name="username" class="form-control " value="{{professor.user.username}}" required/>
                    </div>
                </div>
    
                <div class="col-md-3 mb-3" id="senha-wrap">
                    <label class="form-label" for="basic-icon-default-fullname">Senha</label>
                    <div class="input-group input-group-merge ">
                    <span id="basic-icon-default-fullname2" class="input-group-text"
                        ><i class="fa fa-eye-slash"></i
                    ></span>
    
                    <input type="password" id="password" oninput="verificaSenha()"  name="senha" class="form-control " value="" required/>
                    </div>
                    <!-- erros -->
                    <div id="senha-erro"></div>
    
                </div>
    
               
    
    
                <div class="col-md-12">
                    <button id="btn-cadastrar" type="submit" class="btn btn-success" >Cadastrar</button>
                    <a class="btn btn-secondary mx-2" href="javascript:history.back()">Cancelar</a>
            
                </div>
                  <input type="hidden" name="id" value="{{professor.id}}">   
                </div>
            </form>
        </div>
    </div>
  </div>
  </div>
  </div>
{% endblock %}
    