{% extends 'new_base.html' %}
{% load static %}
{% block title %}Lista de Professores{% endblock %}

{% block content %} 

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-lg-12 mb-4 order-0">
      <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="card-title text-primary">Lista de Turmas </h5>
        </div>
        <div class="card-body">
          {% include 'parcials/_messages.html' %}
      <div class="table-responsive text-nowrap">
        <a href="{% url 'coordenador_cadastro_turma' %}" class="btn btn-outline-primary mx-3 my-4">Cadastrar Turma</a>
      </div>
      <div class="container-fluid">
         
        <div class="table-responsive text-nowrap pb-5 font-weight-bold">
          <table class="table table-hover text-center">
            <thead>
              <tr >
                <th class="font-weight-bold">Turma</th>
                <th class="font-weight-bold">Ações</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {% for turma in turmas %}
                  <tr>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{turma.nome}}</strong></td>
                    <td>
                        <a class="white-hover" href="{% url 'coordenador_edita_turma' turma.id %}"
                        title="Editar Turma"
                            ><i class="bx bx-edit-alt me-1"></i> <i class="fa fa-edit
                            "></i></a
                        >
                      
                        

                        <a class="white-hover " href="{% url 'coordenador_lista_alunos' turma.id %}"
                        title="Lista de Alunos"
                        ><i class="bx bx-group me-1"></i> <i class="fa fa-users"></i></a>

                        <a class="white-hover text-danger" href=""
                        title="Deletar Turma"
                        data-bs-toggle="modal"
                        data-bs-target="#modalCenter"
                        onclick="mudaID('{{turma.id}}', '{{turma.nome}}')"><i class="bx bx-trash mx-1"></i></a
                        >

                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
          
  
        </div>

      </div>

      {% include 'parcials/_pagination.html' %}

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="modalCenterTitle">Modal title</h5>
      </div>
      <div class="modal-body">
        <h6>Excluir a Turma fará com que todos os alunos cadastrados nesta turma sejam deletados.</h6>
        <h6>Certifique-se de ter redirecionado todos os alunos para outras turmas antes de prosseguir.</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <form action="" method="POST">
          {% csrf_token %}
          <input type="hidden" name="id" id="idExcluir" value="">
          <button type="submit" class="btn btn-danger">Deletar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
function mudaID(id, nome){
  document.getElementById("modalCenterTitle").innerHTML = "Deseja excluir a Turma " + nome + "?";
  document.getElementById("idExcluir").value = id;
}
</script>
{% endblock %}
    

    