{% extends 'new_base.html' %}
{% load static %}
{% block title %}Lista de Avaliações da turma {{turma.nome}}{% endblock %}

{% block content %} 

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-lg-12 mb-4 order-0">
      <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="card-title text-primary">Lista de Avaliações Sem Gabarito da Turma {{turma.nome}}</h5>
        </div>
        <div class="card-body">
          {% include 'parcials/_messages.html' %}
      
      <div class="container-fluid">
         
        <div class="table-responsive text-nowrap pb-5 font-weight-bold">
          <table class="table table-hover text-center">
            <thead>
              <tr >
                <th class="font-weight-bold">Nome da Avaliação</th>
                <th class="font-weight-bold">Nível da Avaliação</th>
                <th class="font-weight-bold">Data de Criação</th>
                <th class="font-weight-bold">Ações</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {% for avaliacao in avaliacoes %}
                  <tr>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{avaliacao.nome}}</strong></td>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{avaliacao.get_grau_ensino_display}}</strong></td>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{avaliacao.criacao|date:"d/m/Y"}}</strong></td>
                    <td>
                        <a class="white-hover" href="{% url 'coordenador_cadastro_gabarito' avaliacao.id %}"
                        title="Preencher Gabarito"
                        ><i class='bx bxs-add-to-queue'></i></a>

                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
          
  
        </div>

      </div>
        <!-- botão de voltar -->
        <div class="d-flex justify-content-center">
          <a href="javascript:history.back()" class="btn btn-secondary">Voltar</a>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
    

    